

<h1>
	List Of Students
	<%= link_to '<i class="fa fa-plus-circle"></i> New student'.html_safe, new_student_path, :class => "pull-right btn btn-success" %>
</h1>

<table class="table table-hover">
	<tr>
		<th>First name</th>
		<th>Last name</th>
		<th>student id</th>
		<th>Admission number</th>
		<th>Father name</th>
		<th>phone number</th>
		<th>place</th>
		<th>adress</th>
		<th colspan="3"></th>
	</tr>

	<% @students.each do |student| %>
		<tr>
			<td><%=student.fname %></td>
			<td><%=student.lname %></td>
			<td><%=student.studentid %></td>
			<td><%=student.admissionno %></td>
			<td><%=student.fathername %></td>
			<td><%=student.phno %></td>
			<td><%=student.place %></td>
			<td><%=student.address %></td>
			<td><%= link_to 'Show', student_path(student) %></td>
      <td><%= link_to 'Edit', edit_student_path(student) %></td>
       <td><%= link_to 'Destroy', student_path(student), method: :delete, data: { confirm: 'Are you sure to delete this student?' } %></td>
		</tr>
	<% end %>
</table>


